
.cursor-pointer {
    cursor: pointer;
}
.bg-g{
    background-color:#a3d5c3 ;
}
.green{
color: #034b30 !important;
}
body {
  
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


input {
    margin: 10px;
}

.form-control:focus {
    border-color: #a3d5c3;
    box-shadow: inset 0 1px 1px #a3d5c3, 0 0 8px #a3d5c3;
  }
.btn:hover{
    border-color: #034b30;
}